<ion-view title="{{'About' | translate}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>My Games App</h2>
        <h5>Nunca mais perca ou esqueça seus <strong>amados games</strong>!</h5>

        <p>My Games App é um jeito simples de controlar todos os seus games. Você cadastra seus jogos e o app cuida de
            tudo por você.</p>
        <ul>
            <li><i class="icon ion-arrow-right-b"></i> Não perca nem esqueça daquele jogo emprestado há meses</li>
            <li><i class="icon ion-arrow-right-b"></i> Compartilhe os jogos que você tem com seus amigos (em breve)</li>
            <li><i class="icon ion-arrow-right-b"></i> Avise seus amigos sobre os jogos que voce quer vender ou trocar(em breve)</li>
        </ul>

        <a href="https://github.com/jorool/my-games-app" target="_blank"><i class="icon ion-social-github"></i>Veja no GitHub!</a>

        <div class="bar bar-footer">
            <div class="title">{{'Version' | translate}} {{version}}</div>
        </div>

    </ion-content>
</ion-view>