<ion-view title="Sobre">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
            My Games App is a simple way to track all your games. Você cadastra seus games e o app cuida de tudo por você?
            - Não perca nem esqueça daquele jogo emprestado há meses
            - Compartilhe os jogos que você tem com seus amigos
            - Avise seus amigos sobre os jogos que voce quer vender ou trocar
            -
        </div>
    </ion-content>
</ion-view>