<ion-view title="Meus Games">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-stable button-block icon-left ion-android-add" ng-hide="creatingGame"
                ng-click="ctrl.createGame()">Inserir jogo
        </button>

        <ng-include src="'templates/game-form.html'"></ng-include>

        <div class="list card" ng-repeat="g in games">
            <div class="item item-divider item-icon-right">
                {{g.title}}
                <a class="button button-icon icon ion-more" style="transform: rotate(90deg)" ng-click="ctrl.modify(g)"></a>
            </div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
            </div>
        </div>

        <div class="card" ng-if="games.length == 0">
            <div class="item item-text-wrap text-center">
                Você não tem games?  ;(
            </div>
        </div>

    </ion-content>
</ion-view>