<ion-view title="{{'My Games' | translate}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-stable button-block icon-left ion-android-add" ng-hide="creatingGame"
                ng-click="ctrl.createGame()">{{'New game' | translate}}
        </button>

        <ng-include src="'templates/game-form.html'"></ng-include>

        <div class="list" ng-repeat="g in games track by g.id">
            <div class="item item-divider">
                {{g.platform.name}}
            </div>
            <div class="item item-icon-right">
                {{g.title}}
                <a class="button button-icon icon ion-more" style="transform: rotate(90deg)" ng-click="ctrl.modify(g)"></a>
            </div>
        </div>

        <div class="card" ng-if="games.length == 0">
            <div class="item item-text-wrap text-center">
                {{"Don't you have games? ;(" | translate}}
            </div>
        </div>

    </ion-content>
</ion-view>