<ion-view title="Minhas Plataformas">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-divider">Sony</ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Playstation 4</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Playstation 3</ion-toggle>
            <ion-item class="item-divider">Nintendo</ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">DS</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>